@import "../style/colors";
@import "../style/fonts";
@import "../style/sizefonts";
@import "../style/querys";
@import "../style/common";

$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

.footer-style {
  display: flex;
  background-color: $gray;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5em 1em;

  

  .pokeball{
    display: flex;
    flex-direction: row;
    align-items: center;

    h3{
      margin:0;
      padding: 0;
      color: white;
    }

    img{
      width: 2em;
      height: 2em;
      margin-right: 1em;
    }
    
  };

}