@import '../style/colors';
@import '../style/fonts';
@import '../style/sizefonts';
@import '../style/querys';
@import '../style/common';

.disableButton {
  display: none !important;
}

.columnBattle {
  background-color: $orange;
  border-radius: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0 auto;
  min-height: 690px;
  width: 20vw;

  @media (max-width: $breakpoint-large) and (min-width: $breakpoint-desktop+1) {
    width: 28vw;
  }

  @media (max-width: $breakpoint-desktop) and (min-width: $breakpoint-tablet+1) {
    width: 35vw;
  }

  @media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-cellphone+1) {
    width: 60vw;
  }

  @media (max-width: $breakpoint-cellphone) {
    min-width: 80vw !important;
  }

  -webkit-box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-transform: uppercase;
  }

  li {
    color: white;
    font-family: $work;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $pDesktop;

    @media (max-width: $breakpoint-cellphone) {
      font-size: $pCellphone;
    }
  }

  ul {
    padding: 0;
  }

  .ColumnBattle-img {
    background-color: white;
    border-radius: 50%;
    width: 12em;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em auto 2em auto;

    img {
      width: 8em;
    }
  }

  .btn-refresh-pokemon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 1em;

    h3 {
      margin: 0;
      padding: 0.5em 1.9em;
      border-radius: 32px !important;
      background-color: $gray;

      @media (max-width: $breakpoint-cellphone) {
        padding: 0.5em 1em;
      }
    }
  }

  h3 {
    &:last-of-type {
      text-align: left;
    }
  }

  .h3-battle {
    text-align: center !important;
  }

  .row-choose {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .disable {
    background-color: $lightOrange;
  }

  .btn-battle {
    background-color: $yellow;
    margin: 0.5em 1em;
    //min-width: 15em;
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-cellphone) {
      //
      margin-bottom: 1em;
      padding: 0.8em 1.9em;

      p {
        font-size: $h3Desktop;
      }
    }

    p {
      margin: 0;
      padding: 0;
      color: white;
    }

    &:hover {
      border: 2px solid white;
      background-color: $gray;
    }
  }

  .img-star-heart {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 3em;
    bottom: 3em;
    margin-bottom: -4em;

    img {
      width: 5em;
    }
  }
}
