@import "../style/colors";
@import "../style/fonts";
@import "../style/sizefonts";
@import "../style/querys";
@import "../style/common";

.pokeball-pokemon{
  background-color: white;
  border-radius: 32px;
  padding: 0 0.8em;
  margin: 0 1em;

  small{
    color: $gray;
    font-family: $work;
    text-transform: capitalize;
  }

  img{
    height: 2em;
    width: auto;
  }
}