/*Fonts*/
@font-face {
  font-family: 'workSans';
  src: url('../../fonts/WorkSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}


$work: 'workSans';


@font-face {
  font-family: 'workSans-bold';
  src: url('../../fonts/WorkSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}


$work-bold: 'workSans-bold';

