/*H1*/
$h1Desktop: 3em;
$h1Tablet:1.5em;
$h1Cellphone: 1em;


/*h2*/
$h2Desktop: 2em;
$h2Tablet:1.5em;
$h2Cellphone: 1em;

/*h3*/
$h3Desktop: 2em;
$h3Tablet:1.5em;
$h3Cellphone: 1em;

/*h4*/
$h4Desktop: 2em;
$h4Tablet:1.5em;
$h4Cellphone: 1em;


/*p*/
$pDesktop: 2em;
$pTablet:1.5em;
$pCellphone: 1em;