$darkColor: #3f3d56;
$purple: #6c63ff;
$lightGrey: #e2e2e2;

.nav-style {
  display: flex;
  align-items: center;
  background-color: #544bd8;
  justify-content: space-between;
  width: 100;
  padding: 0 1em;
  .profile_name {
    color: white;
  }
}