@import "../style/colors";
@import "../style/fonts";
@import "../style/sizefonts";
@import "../style/querys";
@import "../style/common";


.nav-style {
  display: flex;
  align-items: center;
  background-color: $lightOrange;
  justify-content: space-between;
  width: 100;
  padding: 0 1em;
  height: 100px;
  .profile_name {
    color: white;
  }

  .logo{
    display: flex;
    justify-content: flex-end;
    margin:0 auto;

    img{
      width: 8em;
      height: auto;
    }
    
   
  }
}