@import "../../components/style/colors";
@import "../../components/style/fonts";
@import "../../components/style/sizefonts";
@import "../../components/style/querys";
@import "../../components/style/common";


.disable{
  background-color: red !important;
}


.body{

  height: 94.2vh;
  overflow-x: hidden;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  padding-top: 5em;

  .body-firstChild{
    width: 90vw;
    
    .row{
      margin: 0 auto;
      width: 80vw;
    }
       
  }

  .logo{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;

    img{
      width: 16em;
      height: auto;
    }
    
   
  }
}